<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test Mustache</title>
	<link rel="stylesheet" href="/webjars/picocss__pico/2.0.6/css/pico.min.css">
	<script src="/webjars/htmx.org/2.0.3/dist/htmx.min.js"></script>
</head>
<body>
<div class="container">
{{$body}}Create a body block to show it here{{/body}}
</div>
</body>
</html>